.contenedor_home{
    padding-top: 82px;
    /* margin: auto; */
}

/* Especialidad */


.especialidades_contenido{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1500px;
    justify-content: center;

}

.especialidad{
    background-color: #edf3f6;
    border-radius: 10px;
    text-align: center;
    min-width: 200px;
    flex-wrap: wrap;
    margin-bottom: 15px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: background .4s,color .1s,box-shadow .2s;
    
}
.especialidad > h4{
    margin: 0px;
    font-size: 1rem;
    font-weight: 700;
}
.especialidad:hover{
    background: #2982C4;
    color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Especialidad */






@media (max-width: 576px) { 
    .contenedor_home{
        width: 100%;
        overflow: hidden;
    }
    
    .especialidad{
        margin: 0px;
        padding: 1px;
    }
    .especialidad > h4 {
        font-size: 1rem;
    }
    
}