.contenedor_addDoctor{
    display: flex;
    justify-content: center;   
    flex-direction: column;
    align-items: center;
    height: 90%;
    padding: 20px;
    color:#333;
    box-sizing: border-box;
}
.formu_addDoctor{
    margin-top: 40px;
    min-height: 705px;
    background: #d8eefe;
    color:#333;
    padding: 30px 60px;
    border-radius: 10px;
    box-shadow: 0px 10px 204px -60px #9c9c9a;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.show_especialidades{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 365px;
    background: #f1f1f1;
    overflow: hidden;
    min-height: 80px;
}
.delete_esp{
    background: #FF5959;
    padding: 3px;
    color: #d8eefe;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.esp_Show{
    color: #fffffe;
    display: flex;
    height:30px;
    min-width: 5px;
    flex-direction: row;
    border-radius: 5px;
    border: 2px solid  #ef4565;
    margin: 4px;
}
.texto_esp{
    box-sizing: border-box;
    display: inline-flex;
    height: 23px;
    text-align: center;
    color: #333;
    font-weight: 500;
    text-align: center;
    padding: 0px 2px 4px 2px;
    margin: 0px 2px;
    cursor: default;
}
.errors_add{
    margin: 0px;
    margin-bottom: 2px;
    min-height: 15px;
    font-size: 15px;
    color: #ef4565;

}

/* Add Especialidad */


/* .agrega_nueva {
} */
.formu_addespecialidad{
    margin-top: 20px;
    min-height: 245px;
    background:#d8eefe;
    color:#333;
    padding: 30px 80px;
    border-radius: 10px;
    box-shadow: 0px 10px 204px -60px #9c9c9a;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.add_especialidad{
    width: auto;
    padding: 40px;
}
.textito{
    color: #9c9c9a;
    margin: 0px;
    font-size: .9rem;
}
.inputcitos{
    background: #B9d4DB;
    border-radius: 5px;
    height: 2.5rem;
    font-weight: bolder;
    outline: none;
    box-shadow: none;
    border: 1px solid #333;
    padding-left: 8px;
    color: #333;
    transition:  all .3s;
}
.inputcitos:focus{
    background:  #12ace4 ;
}
.inputcitos::placeholder{
    font-size: .8rem;
}
.inputcitos:focus::placeholder{
    color: #333;
}

.bontoncitis{
    margin-top: 5px;
    width: 244px;
    /* background: #FF5959;*/
    background:  #12ace4 ;
    padding: 10px;
    border-radius: 10px;
    color: #f1f1f1;
    font-weight: 700;
    transition: background .3s;
    border: 2px solid transparent;
}
.bontoncitis:hover{
    background:  #B9d4DB;
    border: 2px solid #12ace4;
    color:#333

}