.imgAbout{
    width: 100vw;
}

.second{
    height: 1400px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.footer{
    margin: auto;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}

#btn{
    margin: 10px;
    border-radius: 10px;
    border: none;
}

.rights{
    margin-top: 100px;
    font-size: 22px;
}

.container2{
    border: 1px solid black;
    background-color: white;
    border-radius: 15px;
    margin: 50px 50px;
    padding: 0px 20px;
    width: 350px;
    height: 350px;
    border-color: white;
    box-shadow: 0px 0px 36px 24px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
  }

  .abouth1{
    margin: 0px;
  }

  .container1234{
    font-family: 'Poppins', sans-serif;
  }

  #sinfoto{
      height: 150px;
      width: 150px;
  }

