.nav_clinica{
    width: 280px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.logo_clinno_navC{
    width: 200px;
}

.item_boton_nav{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.boton_nav_clinica:hover{
    background-color: #12ace4;
}

.ClientYaAbonado7845{
    display: none;
}

.undefined_877{
    display:none
}

.ClientNoAbonado7845{
    background-color: orange;
    border-radius: 1.3pc;
}

