.grid_turno_table{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    border-top: 1px solid black;
    color: #000;

}
.grid_turno_tables > span{
    padding: 8px 4px;
    border: 1px solid black;
    color: #000;

}